In [101]:
import pandas as pd
d=pd.read_csv('./h/core4.csv',low_memory=False)
d.head()

   id   num
0   1  2869
1   2  2592
2   3  3574
3   4  2412
4   5  2622

In [102]:
a = d['id'].tolist()

In [103]:
import pandas as pd
d_2=pd.read_csv('./h/196557-4km.csv',low_memory=False)
d_2.head()

   id   dis_a_b
0   3  2.908972
1   9  3.816046
2  13  0.678603
3  14  2.831868
4  15  3.241170

In [104]:
b = d_2['id'].tolist()

In [105]:
retD = list(set(a).difference(set(b)))

In [106]:
#组成核心1节点4Km外的点集合
import pandas as pd
from pandas import DataFrame
node = { "id" : retD} #将列表a，b转换成字典
h_2_1 = DataFrame(node) #将字典转换成为数据框
h_2_1[['id']].to_csv('./h/c2wai.csv',index = None,header = True,sep = ',' , encoding='utf-8')
print(h_2_1.head())

   id
0   1
1   2
2   4
3   5
4   6

In [107]:
#左链接所有节点距离
import pandas as pd
d_2_2=pd.read_csv('./h/home_1-30.csv',low_memory=False)
d_2_2.head()

   id   num
0   1  2869
1   2  2592
2   3  3574
3   4  2412
4   5  2622

In [108]:
rore2 = pd.merge(h_2_1, d_2_2, on='id', how='left')

In [109]:
rore2.head()

   id   num
0   1  2869
1   2  2592
2   4  2412
3   5  2622
4   6  2224

In [110]:
rore2[['id','num',]].to_csv('./h/core5.csv',index = None,header = True,sep = ',' , encoding='utf-8')
print(1)

1