In [1]:
import pandas as pd
d=pd.read_csv('resident.csv',low_memory=False)

In [2]:
d.head()

   id                      home                   company
0   1  [32.776858, -117.155046]  [32.708934, -117.243231]
1   2  [32.774242, -117.170558]  [32.715876, -117.170977]
2   3  [32.735363, -117.148283]  [32.834268, -117.036059]
3   4  [32.781682, -117.172229]  [32.745515, -117.286279]
4   5  [32.740891, -117.178473]  [32.823767, -117.239684]

In [3]:
list_id = d['id'].tolist()
list_home = d['home'].tolist()
list_company = d['company'].tolist()

In [4]:
print(list_id[0])

1

In [5]:
print(list_home[0])

[32.776858, -117.155046]

In [6]:
home_a = list_home[0].replace('[','').replace(']','').split(',')[0]
home_b = list_home[0].replace('[','').replace(']','').split(',')[1]

In [8]:
import math
from pandas import DataFrame
list_home_a = []
list_home_b = []
for i in range(0,len(list_home)):
#for i in range(0,5):
    home_a = list_home[i].replace('[','').replace(']','').split(',')[0]
    home_b = list_home[i].replace('[','').replace(']','').split(',')[1]
    list_home_a.append(home_a)
    list_home_b.append(home_b)
A = (float(list_home_a[0])-float(list_home_a[0]))**2
B = (float(list_home_b[0])-float(list_home_b[0]))**2
fdata = { "id" : list_id,
          "dis_a" : list_home_a,
          "dis_b" : list_home_b } #将列表a，b转换成字典
fdata1 = DataFrame(fdata) #将字典转换成为数据框
print(fdata1.head())

   id      dis_a         dis_b
0   1  32.776858   -117.155046
1   2  32.774242   -117.170558
2   3  32.735363   -117.148283
3   4  32.781682   -117.172229
4   5  32.740891   -117.178473

In [26]:
#随机采样n=5000
spl_data = fdata1.sample(n=300000)
spl_data.head()

            id      dis_a         dis_b
200123  200124     33.008   -116.953959
133733  133734  32.613275   -117.022136
99425    99426  32.819801   -117.038809
192300  192301  32.666594   -117.081278
69161    69162  32.562606   -117.074763

In [9]:
spl_data = fdata1

In [10]:
#str转为float
spl_data[['dis_a','dis_b']] = spl_data[['dis_a','dis_b']].astype("float")
print(spl_data.head())
print("--------"*10)
print(spl_data.dtypes)

   id      dis_a       dis_b
0   1  32.776858 -117.155046
1   2  32.774242 -117.170558
2   3  32.735363 -117.148283
3   4  32.781682 -117.172229
4   5  32.740891 -117.178473
--------------------------------------------------------------------------------
id         int64
dis_a    float64
dis_b    float64
dtype: object

In [12]:
spl_data[['id','dis_a','dis_b']].to_csv('./id_home.csv',index = None,header = True,sep = ',' , encoding='utf-8')
print(1)

1

In [38]:
list_id = spl_data['id'].tolist()
list_home_a = spl_data['dis_a'].tolist()
list_home_b = spl_data['dis_b'].tolist()

In [39]:
#计算距离
import math
from pandas.core.frame import DataFrame
dis_list_id_a = []
dis_list_id_b = []
dis_list_a_b = []
for i in range(0,2):
    for j in range(0,2):
        A = (float(list_home_a[i]) - float(list_home_a[j]))**2
        B = (float(list_home_b[i]) - float(list_home_b[j]))**2
        C = (A + B)**0.5*100
        
        dis_list_id_a.append(list_id[i])
        dis_list_id_b.append(list_id[j])
        dis_list_a_b.append(C)
        
        
        #print(list_id[i], list_id[j], C)
#print(dis_list_id_a,dis_list_id_b,dis_list_a_b)
dis_data={"id_a" : dis_list_id_a,
   "id_b" : dis_list_id_b,
   "dis_a_b" : dis_list_a_b } #将列表a，b转换成字典
data=DataFrame(dis_data) #将字典转换成为数据框
print(data.head())

     id_a    id_b   dis_a_b
0  263042  263042  0.000000
1  263042  173640  7.478098
2  173640  263042  7.478098
3  173640  173640  0.000000

In [40]:
print(data.shape)

(4, 3)

In [14]:
#d['dis_a_b'] < 0.00000001
d1 = data[['id_a', 'id_b','dis_a_b']][data['dis_a_b'] < 4.1]

In [15]:
print(d1.shape)

(3110208, 3)

In [16]:
d1.to_csv('./spldata10000_4.csv',index=None,encoding='utf-8')
print(1)

1

In [17]:
#d['dis_a_b'] < 0.00000001
d2 = d1[['id_a', 'id_b','dis_a_b']][d1['dis_a_b'] < 2.1]

In [18]:
print(d2.shape)

(842688, 3)

In [20]:
d2.to_csv('./spldata10000_2.csv',index=None,encoding='utf-8')
print(1)

1

In [ ]:
#读取数据制作网络图

In [43]:
#遍历最短路径节点
#最短路径最终解法
import pandas as pd
import networkx as nx
import pylab
import numpy as np
#d3 = pd.read_csv('./spldata5000.csv',low_memory=False)
d3 = data

list_id_from = d3['id_a'].tolist()
list_id_to = d3['id_b'].tolist()
list_lenght = d3['dis_a_b'].tolist()

row = list_id_from
#b = [str(i) for i in list_id_to]
col = list_id_to

#c = [float(i) for i in list_lenght]
value = list_lenght
#print(len(row),len(col),len(value))
#print(a)
#print(b)
#print('生成一个空的有向图')
G = nx.Graph()
for i in range(0,len(row)):
    n1 = row[i]
    n2 = col[i]
    #print(strlist[2])
    weight = value[i]
    #print(n1,n2,weight)
    G.add_weighted_edges_from([(n1, n2, weight)]) #G.add_edges_from([(n1, n2)])
#转为矩阵    
A = nx.to_numpy_matrix(G)
print(A)
#def savetxt(filename,x):
#    np.savetxt(filename,x,fmt='%s',newline='\n')
#savetxt("xx",A)
#gephi
#nx.write_gexf(G, "./f.gexf", encoding='UTF-8')
#print(1)
#nx.clustering(G)

[[0.         7.47809807]
 [7.47809807 0.        ]]

In [44]:
A

matrix([[0.        , 7.47809807],
        [7.47809807, 0.        ]])

In [ ]:
'''
Shortest Path with dijkstra_path
'''
'''print('dijkstra方法寻找最短路径：')
for i in range(0, len(list_nodes)):
    #path=nx.dijkstra_path(G, source=5717326552, target=list_nodes[i])
    #print('节点49217573到49479756的路径：', path)
    print('dijkstra方法寻找最短距离：')
    distance=nx.dijkstra_path_length(G, source= 5717326552, target= list_nodes[i])
    print('节点的距离为：', distance)
'''