In [2]:
A = (float(32.796537) - float(32.719358))**2
B = (float(-117.049412) - float(-117.089168))**2
C = (A + B)**0.5*100

In [1]:
5/2

2.5

In [2]:
#第一
#pnadas 取小数点后两位，欧式距离 0.02 = 2km, 0.1 = 10km
import pandas as pd
pd=pd.read_csv('n1.csv',low_memory=False)
pd.head()

        node1        lat         lon
0  5717326552  32.749629 -117.109283
1  4343291730  32.749621 -117.108365
2  4343291726  32.749616 -117.108229
3  2668996615  32.749616 -117.107588
4    49251143  32.749660 -117.106930

In [3]:
print(pd.dtypes)

node1      int64
lat      float64
lon      float64
dtype: object

In [4]:
pd = pd[['lat','lon']]

In [5]:
data = pd.values

In [6]:
data

array([[  32.7496294, -117.1092834],
       [  32.7496213, -117.1083649],
       [  32.7496162, -117.1082294],
       [  32.7496155, -117.1075878],
       [  32.7496604, -117.1069299],
       [  32.749653 , -117.10569  ],
       [  32.749645 , -117.104446 ],
       [  32.749634 , -117.103233 ],
       [  32.7496223, -117.1020102],
       [  32.7514414, -117.1019521],
       [  32.7514328, -117.100853 ],
       [  32.753174 , -117.10083  ],
       [  32.753166 , -117.099777 ],
       [  32.7550056, -117.0997578],
       [  32.7550789, -117.0994787],
       [  32.7551035, -117.0991966],
       [  32.755177 , -117.098671 ],
       [  32.7553338, -117.0975735],
       [  32.755417 , -117.096909 ],
       [  32.755474 , -117.096519 ]])