In [53]:
import pandas as pd
d1=pd.read_csv('data_3wen_4.csv',low_memory=False)
d = pd.read_csv('nnode.csv',low_memory=False)
d.head()

        nid        lat         lon
0  49217537  32.740307 -117.105797
1  49086467  32.675667 -117.170647
2  49217545  32.740295 -117.104568
3  49217547  32.740292 -117.103363
4  49348622  32.744896 -116.929378

In [59]:
d2 = d1[['nid','distance']][d1['distance'] < 3000]
d2 = d2[['nid','distance']][d2['distance'] > 2300]
d2.head()

         nid  distance
0   49348700  2762.213
1   49348702  2940.520
11  49480069  2402.898
22  49611414  2600.366
39  49743078  2504.127

In [60]:
data3 = pd.merge(d2, d, on='nid', how='left')
data3.head()

        nid  distance        lat         lon
0  49348700  2762.213  32.614796 -117.051689
1  49348702  2940.520  32.613277 -117.051079
2  49480069  2402.898  32.612133 -117.060982
3  49611414  2600.366  32.641865 -117.077858
4  49743078  2504.127  32.642151 -117.076843

In [61]:
data3.dtypes

nid           int64
distance    float64
lat         float64
lon         float64
dtype: object

In [62]:
#写入csv文件
data3[['nid','lat','lon','distance']].to_csv('./4-3-1-1.csv', index=None, header=True, encoding='utf-8')
print(1)

1

In [63]:
#写入csv文件
data3[['lat','lon']].values

array([[  32.614796 , -117.051689 ],
       [  32.613277 , -117.051079 ],
       [  32.612133 , -117.060982 ],
       [  32.641865 , -117.077858 ],
       [  32.642151 , -117.076843 ],
       [  32.637871 , -117.060371 ],
       [  32.637203 , -117.060112 ],
       [  32.644932 , -117.075897 ],
       [  32.643456 , -117.075333 ],
       [  32.6129591, -117.091947 ],
       [  32.626076 , -117.086342 ],
       [  32.626064 , -117.086441 ],
       [  32.621807 , -117.088188 ],
       [  32.621761 , -117.088173 ],
       [  32.6133252, -117.0893193],
       [  32.610729 , -117.06118  ],
       [  32.641708 , -117.064873 ],
       [  32.6129944, -117.0891836],
       [  32.605549 , -117.067673 ],
       [  32.607002 , -117.07283  ],
       [  32.627029 , -117.085983 ],
       [  32.632099 , -117.046387 ],
       [  32.6407483, -117.0820069],
       [  32.613373 , -117.091927 ],
       [  32.6155207, -117.0901597],
       [  32.6134001, -117.0893438],
       [  32.612    , -117.088799 ],
       [  32.605541 , -117.068977 ],
       [  32.606102 , -117.068878 ],
       [  32.605633 , -117.068657 ],
       [  32.605358 , -117.068573 ],
       [  32.6133133, -117.0896099],
       [  32.635445 , -117.05764  ],
       [  32.627697 , -117.056282 ],
       [  32.637789 , -117.0819165],
       [  32.6379224, -117.0819827],
       [  32.6382952, -117.0801562],
       [  32.6384127, -117.0802072],
       [  32.6382091, -117.0809622],
       [  32.6380751, -117.0809049],
       [  32.637554 , -117.08297  ],
       [  32.60664  , -117.071808 ],
       [  32.606415 , -117.072609 ],
       [  32.611237 , -117.05336  ],
       [  32.630428 , -117.048431 ],
       [  32.624332 , -117.088074 ],
       [  32.628658 , -117.084007 ],
       [  32.6154202, -117.0901211],
       [  32.616127 , -117.05352  ],
       [  32.616879 , -117.050423 ],
       [  32.617439 , -117.048447 ],
       [  32.617645 , -117.047157 ],
       [  32.62278  , -117.087624 ],
       [  32.621983 , -117.087311 ],
       [  32.621208 , -117.087013 ],
       [  32.618595 , -117.085854 ],
       [  32.629307 , -117.055931 ],
       [  32.629944 , -117.054604 ],
       [  32.630184 , -117.052902 ],
       [  32.630596 , -117.052422 ],
       [  32.6281002, -117.0468597],
       [  32.6284487, -117.0464279],
       [  32.6287883, -117.0453681],
       [  32.6289258, -117.0454201],
       [  32.63258  , -117.053078 ],
       [  32.633186 , -117.051338 ],
       [  32.646343 , -117.078461 ],
       [  32.645615 , -117.078178 ],
       [  32.6287496, -117.0455022],
       [  32.6288436, -117.0451761],
       [  32.6288605, -117.0422781],
       [  32.613087 , -117.057549 ],
       [  32.612278 , -117.057243 ],
       [  32.611019 , -117.05674  ],
       [  32.609631 , -117.056198 ],
       [  32.632977 , -117.085709 ],
       [  32.611408 , -117.077248 ],
       [  32.610107 , -117.076767 ],
       [  32.607967 , -117.075912 ],
       [  32.6241917, -117.086182 ],
       [  32.627514 , -117.088097 ],
       [  32.6240744, -117.086746 ],
       [  32.625782 , -117.087433 ],
       [  32.6137218, -117.082658 ],
       [  32.6102364, -117.0814425],
       [  32.612839 , -117.085777 ],
       [  32.617908 , -117.088341 ],
       [  32.623029 , -117.0902808],
       [  32.622997 , -117.0903996],
       [  32.621395 , -117.08976  ],
       [  32.619587 , -117.089073 ],
       [  32.631897 , -117.079262 ],
       [  32.6306   , -117.079086 ],
       [  32.632092 , -117.085373 ],
       [  32.6277865, -117.0507475],
       [  32.6279552, -117.0518843],
       [  32.6282528, -117.0510747],
       [  32.635674 , -117.056824 ],
       [  32.629429 , -117.055527 ],
       [  32.61393  , -117.054649 ],
       [  32.645317 , -117.072411 ],
       [  32.643272 , -117.079552 ],
       [  32.643871 , -117.077507 ],
       [  32.627193 , -117.089203 ],
       [  32.626614 , -117.088966 ],
       [  32.629448 , -117.052353 ],
       [  32.629871 , -117.051277 ],
       [  32.6129477, -117.0853883],
       [  32.6133164, -117.0840612],
       [  32.613749 , -117.0857075],
       [  32.6125692, -117.0867165],
       [  32.6392903, -117.078895 ],
       [  32.625885 , -117.046257 ],
       [  32.62521  , -117.046013 ],
       [  32.624546 , -117.045761 ],
       [  32.64127  , -117.073143 ],
       [  32.640415 , -117.076157 ],
       [  32.640144 , -117.077148 ],
       [  32.640934 , -117.077454 ],
       [  32.64307  , -117.068336 ],
       [  32.642262 , -117.071213 ],
       [  32.6119777, -117.0821126],
       [  32.6403087, -117.0796395],
       [  32.613129 , -117.08474  ],
       [  32.61813  , -117.087532 ],
       [  32.642029 , -117.069397 ],
       [  32.6233117, -117.0892704],
       [  32.640194 , -117.067146 ],
       [  32.609695 , -117.083366 ],
       [  32.6232115, -117.0896147],
       [  32.621609 , -117.088982 ],
       [  32.621128 , -117.090553 ],
       [  32.620903 , -117.091331 ],
       [  32.6287794, -117.0428271],
       [  32.6287061, -117.0423337],
       [  32.6102721, -117.0813113],
       [  32.6120158, -117.0819924],
       [  32.6136832, -117.0827837],
       [  32.6082733, -117.0748021],
       [  32.6088289, -117.075021 ],
       [  32.631931 , -117.082603 ],
       [  32.632526 , -117.050743 ],
       [  32.609249 , -117.076408 ],
       [  32.641785 , -117.066513 ],
       [  32.641228 , -117.066292 ],
       [  32.639084 , -117.06546  ],
       [  32.638996 , -117.06543  ],
       [  32.613674 , -117.055527 ],
       [  32.61282  , -117.055199 ],
       [  32.61158  , -117.054733 ],
       [  32.610897 , -117.054466 ],
       [  32.610188 , -117.054176 ],
       [  32.609489 , -117.053902 ],
       [  32.60881  , -117.053627 ],
       [  32.628246 , -117.053886 ],
       [  32.628578 , -117.051918 ],
       [  32.629555 , -117.049988 ],
       [  32.629745 , -117.049248 ],
       [  32.62981  , -117.048447 ],
       [  32.616089 , -117.050133 ],
       [  32.643578 , -117.071732 ],
       [  32.634533 , -117.049423 ],
       [  32.638557 , -117.079426 ],
       [  32.614227 , -117.06028  ],
       [  32.612518 , -117.059593 ],
       [  32.611687 , -117.05925  ],
       [  32.611233 , -117.059067 ],
       [  32.609066 , -117.058197 ],
       [  32.611675 , -117.074013 ],
       [  32.615696 , -117.089302 ],
       [  32.6150778, -117.0916282],
       [  32.6149537, -117.0920454],
       [  32.612633 , -117.055969 ],
       [  32.626873 , -117.045723 ],
       [  32.625607 , -117.088058 ],
       [  32.625935 , -117.086861 ],
       [  32.607533 , -117.060944 ],
       [  32.6134457, -117.0524399],
       [  32.61253  , -117.086853 ],
       [  32.617687 , -117.089127 ],
       [  32.615913 , -117.088516 ],
       [  32.6227691, -117.0911962],
       [  32.6459016, -117.077164 ],
       [  32.644161 , -117.076477 ],
       [  32.64323  , -117.076134 ],
       [  32.610188 , -117.06321  ],
       [  32.609653 , -117.063004 ],
       [  32.607914 , -117.06234  ],
       [  32.619621 , -117.088951 ],
       [  32.616135 , -117.087738 ],
       [  32.628208 , -117.085602 ],
       [  32.626476 , -117.084923 ],
       [  32.626595 , -117.08448  ],
       [  32.625843 , -117.08419  ],
       [  32.638687 , -117.0789572],
       [  32.6395667, -117.079352 ],
       [  32.6130628, -117.091942 ],
       [  32.612225 , -117.087936 ],
       [  32.6378143, -117.0649886],
       [  32.644714 , -117.076714 ],
       [  32.642437 , -117.075821 ],
       [  32.605469 , -117.067963 ],
       [  32.623352 , -117.047028 ],
       [  32.623569 , -117.046227 ],
       [  32.623821 , -117.045319 ],
       [  32.624111 , -117.044289 ],
       [  32.6410439, -117.0809706],
       [  32.6406656, -117.0819807],
       [  32.6409547, -117.0809301],
       [  32.633244 , -117.081284 ],
       [  32.631504 , -117.08744  ],
       [  32.630161 , -117.050331 ],
       [  32.611908 , -117.053627 ],
       [  32.631298 , -117.078262 ],
       [  32.607811 , -117.069527 ],
       [  32.6153993, -117.0920397],
       [  32.6145682, -117.0919222],
       [  32.621559 , -117.050102 ],
       [  32.618217 , -117.048752 ],
       [  32.61665  , -117.048141 ],
       [  32.629871 , -117.052757 ],
       [  32.620995 , -117.046059 ],
       [  32.6087933, -117.0808739],
       [  32.6088369, -117.0807416],
       [  32.627491 , -117.04789  ],
       [  32.627907 , -117.04718  ],
       [  32.6283474, -117.0463381],
       [  32.617451 , -117.089973 ],
       [  32.639877 , -117.064301 ],
       [  32.639446 , -117.064133 ],
       [  32.615883 , -117.05439  ],
       [  32.614159 , -117.053886 ],
       [  32.610825 , -117.052147 ],
       [  32.6391708, -117.0691542],
       [  32.6387886, -117.0690004],
       [  32.61504  , -117.057549 ],
       [  32.610664 , -117.074864 ],
       [  32.612812 , -117.075661 ],
       [  32.626816 , -117.086739 ],
       [  32.602882 , -117.066704 ],
       [  32.64394  , -117.073242 ],
       [  32.643234 , -117.07296  ],
       [  32.6428738, -117.0728258],
       [  32.6413875, -117.0727171],
       [  32.640156 , -117.071747 ],
       [  32.631069 , -117.047371 ],
       [  32.611263 , -117.060822 ],
       [  32.636696 , -117.077003 ],
       [  32.641586 , -117.078903 ],
       [  32.64064  , -117.078484 ],
       [  32.639359 , -117.077988 ],
       [  32.622551 , -117.0919937],
       [  32.6385748, -117.0606526],
       [  32.643547 , -117.068527 ],
       [  32.609371 , -117.072861 ],
       [  32.608864 , -117.072662 ],
       [  32.635548 , -117.059464 ],
       [  32.635746 , -117.058807 ],
       [  32.6363082, -117.0569341],
       [  32.637951 , -117.066673 ],
       [  32.610836 , -117.0793   ],
       [  32.611813 , -117.079697 ],
       [  32.61079  , -117.060669 ],
       [  32.641506 , -117.068314 ],
       [  32.632137 , -117.08181  ],
       [  32.631844 , -117.082947 ],
       [  32.6328417, -117.082971 ],
       [  32.6320552, -117.0826712],
       [  32.626808 , -117.087196 ],
       [  32.642792 , -117.074539 ],
       [  32.6420607, -117.0736731],
       [  32.638878 , -117.06675  ],
       [  32.638485 , -117.067146 ],
       [  32.625622 , -117.04454  ],
       [  32.619923 , -117.051987 ],
       [  32.619614 , -117.051537 ],
       [  32.611683 , -117.083061 ],
       [  32.60997  , -117.082397 ],
       [  32.618378 , -117.086662 ],
       [  32.627052 , -117.089706 ],
       [  32.6234338, -117.0888345],
       [  32.615768 , -117.085037 ],
       [  32.615044 , -117.08477  ],
       [  32.608124 , -117.071457 ],
       [  32.607826 , -117.072441 ],
       [  32.608086 , -117.073143 ],
       [  32.608234 , -117.072594 ],
       [  32.624378 , -117.043312 ],
       [  32.644447 , -117.072067 ],
       [  32.63628  , -117.080643 ],
       [  32.606277 , -117.068237 ],
       [  32.605774 , -117.068077 ],
       [  32.605854 , -117.067787 ],
       [  32.632084 , -117.078568 ],
       [  32.613846 , -117.052399 ],
       [  32.639774 , -117.062958 ],
       [  32.635181 , -117.058571 ],
       [  32.629673 , -117.046837 ],
       [  32.631245 , -117.046066 ],
       [  32.631161 , -117.046509 ],
       [  32.631622 , -117.046211 ],
       [  32.6224423, -117.0928575],
       [  32.6226497, -117.0920333],
       [  32.6228741, -117.0912308],
       [  32.6231244, -117.0903207],
       [  32.6234096, -117.0893075],
       [  32.6235324, -117.0888711],
       [  32.6238108, -117.0878854],
       [  32.6017688, -117.0645351],
       [  32.618408 , -117.052383 ],
       [  32.618977 , -117.050423 ],
       [  32.61932  , -117.04924  ],
       [  32.619583 , -117.048347 ],
       [  32.620041 , -117.046677 ],
       [  32.620293 , -117.045799 ],
       [  32.607216 , -117.072037 ],
       [  32.634491 , -117.047951 ],
       [  32.631992 , -117.046829 ],
       [  32.630455 , -117.046547 ],
       [  32.629002 , -117.047119 ],
       [  32.62767  , -117.045761 ],
       [  32.626556 , -117.044121 ],
       [  32.625607 , -117.043198 ],
       [  32.622356 , -117.046654 ],
       [  32.62579  , -117.047997 ],
       [  32.621681 , -117.046333 ],
       [  32.622101 , -117.04483  ],
       [  32.617119 , -117.053879 ],
       [  32.617577 , -117.052193 ],
       [  32.633396 , -117.053574 ],
       [  32.633942 , -117.051628 ],
       [  32.615974 , -117.081734 ],
       [  32.6138421, -117.0871222],
       [  32.611431 , -117.084053 ],
       [  32.61142  , -117.084084 ],
       [  32.611118 , -117.085114 ],
       [  32.610825 , -117.086166 ],
       [  32.612556 , -117.080177 ],
       [  32.610371 , -117.058723 ],
       [  32.6429985, -117.0669891],
       [  32.6326983, -117.0832269],
       [  32.6327383, -117.0829292],
       [  32.615799 , -117.051117 ],
       [  32.614281 , -117.050537 ],
       [  32.61504  , -117.050827 ],
       [  32.612309 , -117.055008 ],
       [  32.612812 , -117.053436 ],
       [  32.643555 , -117.078522 ],
       [  32.643581 , -117.078529 ],
       [  32.638874 , -117.060771 ],
       [  32.607101 , -117.075569 ],
       [  32.636463 , -117.059822 ],
       [  32.6289649, -117.0429331],
       [  32.631611 , -117.053337 ],
       [  32.631855 , -117.052803 ],
       [  32.632454 , -117.051033 ],
       [  32.623596 , -117.048988 ],
       [  32.626335 , -117.085426 ],
       [  32.626263 , -117.085693 ],
       [  32.639961 , -117.072617 ],
       [  32.62463  , -117.04847  ],
       [  32.611763 , -117.062317 ],
       [  32.6118236, -117.0620907],
       [  32.611028 , -117.0617331],
       [  32.608227 , -117.061234 ],
       [  32.632545 , -117.085541 ],
       [  32.61887  , -117.047997 ],
       [  32.619011 , -117.04747  ],
       [  32.642986 , -117.080559 ],
       [  32.6412772, -117.0799599],
       [  32.6403389, -117.0795281],
       [  32.6394821, -117.0792017],
       [  32.6392049, -117.0790641],
       [  32.6387054, -117.0788815],
       [  32.6018762, -117.0645362],
       [  32.6033259, -117.0650717],
       [  32.614529 , -117.052658 ],
       [  32.638008 , -117.063797 ],
       [  32.63768  , -117.063667 ],
       [  32.604431 , -117.070023 ],
       [  32.604275 , -117.070641 ],
       [  32.619385 , -117.089798 ],
       [  32.61937  , -117.089867 ],
       [  32.619144 , -117.090637 ],
       [  32.6188776, -117.0914503],
       [  32.622581 , -117.045853 ],
       [  32.63427  , -117.050468 ],
       [  32.630318 , -117.049377 ],
       [  32.620205 , -117.050713 ],
       [  32.605629 , -117.067383 ],
       [  32.635818 , -117.082298 ],
       [  32.634972 , -117.081947 ],
       [  32.609097 , -117.071823 ],
       [  32.606873 , -117.070976 ],
       [  32.605659 , -117.070503 ],
       [  32.628429 , -117.084824 ],
       [  32.627556 , -117.084503 ],
       [  32.612797 , -117.058594 ],
       [  32.637062 , -117.052879 ],
       [  32.636513 , -117.053383 ],
       [  32.635784 , -117.05323  ],
       [  32.633694 , -117.052559 ],
       [  32.632832 , -117.052231 ],
       [  32.630634 , -117.051353 ],
       [  32.63026  , -117.051193 ],
       [  32.628754 , -117.050087 ],
       [  32.6279827, -117.0497909],
       [  32.623119 , -117.047882 ],
       [  32.6222   , -117.047523 ],
       [  32.621445 , -117.047234 ],
       [  32.623875 , -117.04818  ],
       [  32.636997 , -117.063408 ],
       [  32.6393082, -117.0791324],
       [  32.6378162, -117.0786447],
       [  32.6137374, -117.0894988],
       [  32.6378478, -117.0785338],
       [  32.6067856, -117.0664057],
       [  32.639254 , -117.080562 ],
       [  32.640938 , -117.067337 ],
       [  32.640751 , -117.068008 ],
       [  32.64053  , -117.068832 ],
       [  32.640106 , -117.070374 ],
       [  32.638119 , -117.07756  ],
       [  32.637268 , -117.080597 ],
       [  32.636696 , -117.082642 ],
       [  32.612633 , -117.079826 ],
       [  32.618309 , -117.04776  ]])

In [129]:
from math import radians
from math import sin
from math import cos
from math import degrees
from math import atan2
radLatA = radians(32.637062)
radLonA = radians(-117.052879)
radLatB = radians(32.63026)
radLonB = radians(-117.051193)
dLon = radLonB - radLonA
y = sin(dLon) * cos(radLatB)
x = cos(radLatA) * sin(radLatB) - sin(radLatA) * cos(radLatB) * cos(dLon)
brng = degrees(atan2(y, x))
brng = (brng + 360) % 360
print(brng)

168.20899700250266