In [123]:
import pandas as pd
d1=pd.read_csv('data_3wen_1.csv',low_memory=False)
d = pd.read_csv('nnode.csv',low_memory=False)
d.head()

        nid        lat         lon
0  49217537  32.740307 -117.105797
1  49086467  32.675667 -117.170647
2  49217545  32.740295 -117.104568
3  49217547  32.740292 -117.103363
4  49348622  32.744896 -116.929378

In [124]:
d2 = d1[['nid','distance']][d1['distance'] < 1100]
#d2 = d2[['nid','distance']][d2['distance'] > 10]
d2.head()

          nid  distance
1    49086487   101.993
3    49086490     0.000
99   49154856   210.076
100  49154858   162.855
147  49091260   596.826

In [125]:
data3 = pd.merge(d2, d, on='nid', how='left')
data3.head()

        nid  distance        lat         lon
0  49086487   101.993  32.766453 -117.082916
1  49086490     0.000  32.766434 -117.081886
2  49154856   210.076  32.765251 -117.082764
3  49154858   162.855  32.765278 -117.082260
4  49091260   596.826  32.762650 -117.079376

In [126]:
data3.dtypes

nid           int64
distance    float64
lat         float64
lon         float64
dtype: object

In [127]:
#写入csv文件
data3[['nid','lat','lon','distance']].to_csv('./4-3-1-1.csv', index=None, header=True, encoding='utf-8')
print(1)

1

In [128]:
#写入csv文件
data3[['lat','lon']].values

array([[  32.766453, -117.082916],
       [  32.766434, -117.081886],
       [  32.765251, -117.082764],
       [  32.765278, -117.08226 ],
       [  32.76265 , -117.079376],
       [  32.763474, -117.079376],
       [  32.765324, -117.079643],
       [  32.767799, -117.079811],
       [  32.765755, -117.08168 ],
       [  32.762146, -117.08091 ],
       [  32.76239 , -117.080971],
       [  32.761673, -117.076103],
       [  32.764751, -117.076057],
       [  32.762882, -117.082199],
       [  32.761902, -117.081444],
       [  32.762241, -117.080238],
       [  32.762638, -117.076088],
       [  32.762627, -117.074898],
       [  32.762657, -117.078934],
       [  32.761639, -117.078918],
       [  32.761589, -117.080109],
       [  32.764408, -117.0783  ],
       [  32.761215, -117.081337],
       [  32.759045, -117.079628],
       [  32.766651, -117.079941],
       [  32.766819, -117.07798 ],
       [  32.761593, -117.076927],
       [  32.763233, -117.081787],
       [  32.763222, -117.081001],
       [  32.763416, -117.080177],
       [  32.76347 , -117.07608 ],
       [  32.763588, -117.082817]])

In [129]:
from math import radians
from math import sin
from math import cos
from math import degrees
from math import atan2
radLatA = radians(32.637062)
radLonA = radians(-117.052879)
radLatB = radians(32.63026)
radLonB = radians(-117.051193)
dLon = radLonB - radLonA
y = sin(dLon) * cos(radLatB)
x = cos(radLatA) * sin(radLatB) - sin(radLatA) * cos(radLatB) * cos(dLon)
brng = degrees(atan2(y, x))
brng = (brng + 360) % 360
print(brng)

168.20899700250266