In [49]:
import pandas as pd
d=pd.read_csv('./data/edges.shp.csv',low_memory=False)
d.head()

,access,base_speed,bridge,from,highway,junction,key,landuse,lanes,length,maxspeed,name,oneway,osmid,ref,service,to,tunnel,width,geometry
0,NaN,25.0,NaN,49443530,residential,NaN,0,NaN,NaN,207.670,25 mph,Marlborough Avenue,False,33413213,NaN,NaN,49217537,NaN,NaN,"LINESTRING (-117.105807 32.7421746, -117.10579..."
1,NaN,25.0,NaN,49643211,residential,NaN,0,NaN,NaN,183.773,25 mph,Marlborough Avenue,False,33413213,NaN,NaN,49217537,NaN,NaN,"LINESTRING (-117.1058281 32.7386545, -117.1057..."
2,NaN,25.0,NaN,49217545,residential,NaN,0,NaN,NaN,114.957,25 mph,Thorn Street,False,5945206,NaN,NaN,49217537,NaN,NaN,"LINESTRING (-117.104568 32.740295, -117.104762..."
3,NaN,25.0,NaN,49217534,residential,NaN,0,NaN,NaN,114.202,25 mph,Thorn Street,False,5945206,NaN,NaN,49217537,NaN,NaN,"LINESTRING (-117.107018 32.740314, -117.106444..."
4,NaN,25.0,NaN,4616436417,residential,NaN,0,NaN,NaN,133.667,25 mph,Avenida Lunar,False,5959584,NaN,NaN,49086467,NaN,NaN,"LINESTRING (-117.1715661 32.6747472, -117.1713..."

In [50]:
d1 = d[['from', 'to','length','base_speed','oneway']]
d1.head()

         from        to   length  base_speed  oneway
0    49443530  49217537  207.670        25.0   False
1    49643211  49217537  183.773        25.0   False
2    49217545  49217537  114.957        25.0   False
3    49217534  49217537  114.202        25.0   False
4  4616436417  49086467  133.667        25.0   False

In [51]:
#写入edges到文件，进行下一步制作复杂网络
d1[['from', 'to','length','base_speed','oneway']].to_csv('./data/nedge.csv',index = None,header = True,sep = ',' , encoding='utf-8')
print(1)

1

In [5]:
#提取node ：id  lat lon 
import pandas as pd
d_n=pd.read_csv('./data/nodes.shp.csv',low_memory=False)
d_n.head()

           highway     osmid  ref                       geometry
0              NaN  49217537  NaN  POINT (-117.105797 32.740307)
1              NaN  49086467  NaN  POINT (-117.170647 32.675667)
2              NaN  49217545  NaN  POINT (-117.104568 32.740295)
3              NaN  49217547  NaN  POINT (-117.103363 32.740292)
4  traffic_signals  49348622  NaN  POINT (-116.929378 32.744896)

In [8]:
list_id = d_n['osmid'].tolist()
list_geo = d_n['geometry'].tolist()

In [9]:
print(list_geo[0])

POINT (-117.105797 32.740307)

In [14]:
lat = list_geo[0].replace('POINT (','').replace(')','').split(' ')[1]
lon = list_geo[0].replace('POINT (','').replace(')','').split(' ')[0]

In [15]:
print(lat ,lon)

32.740307 -117.105797

In [46]:
from pandas import DataFrame
list_lat = []
list_lon = []
for i in range(0,len(list_id)):
#for i in range(0,5):
    lat = list_geo[i].replace('POINT (','').replace(')','').split(' ')[1]
    lon = list_geo[i].replace('POINT (','').replace(')','').split(' ')[0]
    list_lat.append(lat)
    list_lon.append(lon)
node = { "nid" : list_id,
          "lat" : list_lat,
          "lon" : list_lon } #将列表a，b转换成字典
nnodes = DataFrame(node) #将字典转换成为数据框
print(nnodes.head())

        nid        lat          lon
0  49217537  32.740307  -117.105797
1  49086467  32.675667  -117.170647
2  49217545  32.740295  -117.104568
3  49217547  32.740292  -117.103363
4  49348622  32.744896  -116.929378

In [47]:
#str转为float
nnodes[['lat','lon']] = nnodes[['lat','lon']].astype("float")
print(nnodes.head())
print("--------"*10)
print(nnodes.dtypes)

        nid        lat         lon
0  49217537  32.740307 -117.105797
1  49086467  32.675667 -117.170647
2  49217545  32.740295 -117.104568
3  49217547  32.740292 -117.103363
4  49348622  32.744896 -116.929378
--------------------------------------------------------------------------------
nid      int64
lat    float64
lon    float64
dtype: object

In [48]:
#写入nnode到文件，进行下一步匹配取经纬度
nnodes[['nid','lat','lon']].to_csv('./data/nnode.csv',index = None,header = True,sep = ',' , encoding='utf-8')
print(1)

1

In [39]:
#随机采样n=5000
pd = nnodes.sample(n=30)
pd.head()

             nid        lat         lon
12963   49312661  32.691024 -117.170856
2241    49287577  32.643936 -117.002617
11268   49112771  32.708564 -117.069706
19245   49063238  32.785717 -117.204132
1082   463013842  32.665356 -116.973962

In [40]:
print(pd.dtypes)

nid      int64
lat    float64
lon    float64
dtype: object

In [41]:
#转化为二维列表
pd = pd[['lat','lon']]

In [42]:
data = pd.values

In [43]:
data

array([[  32.6910244, -117.1708556],
       [  32.643936 , -117.002617 ],
       [  32.708564 , -117.0697062],
       [  32.785717 , -117.204132 ],
       [  32.6653556, -116.9739618],
       [  32.762669 , -116.972572 ],
       [  32.7253623, -117.2325627],
       [  32.7117423, -117.2396754],
       [  32.745136 , -117.1604   ],
       [  32.749435 , -117.065224 ],
       [  32.6118109, -117.0215926],
       [  32.601192 , -117.032982 ],
       [  32.74012  , -117.06218  ],
       [  32.730953 , -117.041023 ],
       [  32.658676 , -117.024071 ],
       [  32.669502 , -117.095352 ],
       [  32.7984947, -117.1595011],
       [  32.598255 , -117.038498 ],
       [  32.7208956, -117.164761 ],
       [  32.77969  , -116.99041  ],
       [  32.702518 , -117.079178 ],
       [  32.7555015, -117.1925483],
       [  32.689434 , -117.035248 ],
       [  32.778305 , -117.1904905],
       [  32.6803459, -117.0860778],
       [  32.6182999, -116.9552818],
       [  32.723045 , -117.148689 ],
       [  32.7499173, -117.1997412],
       [  32.712917 , -117.039871 ],
       [  32.7442241, -117.2369327]])